<style>
    .dathang {
        background-color:red;
        border:none;
        color:white;
        padding: 16px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor:pointer;
        float:right;
    }
    .dathang:hover{
        background-color: #4CAF50;
        color:white;
    }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thông tin chi tiết sách</h2>
<h3>Tên loài hoa: <span>@Model.Tenloaihoa</span></h3>
<div class="col-sm-6 col-lg-6 col-sm-6">
    <div>
        <img alt="@Model.Tenloaihoa" width="100%" src="~/images_flo/@Model.AnhBia" />
    </div>
</div>
<div class="col-sm-6 col-lg-6 col-sm-6">
    <div>
        <p style="color:#ff0000; font-size:20px;">Mô tả: </p>
        <p style="text-align:justify">@Model.MoTa</p>
    </div>
    <div>
        <p style="color: #ff0000; font-size:20px">Giá: </p>
        <p style="color: #ff0000; font-size:20px">@Model.GiaBan VND</p>
    </div>
    <div class="dathang">
        <a href="@Url.Action("Themgiohang","Giohang", new { @iMahoa =Model.Mahoa, @strUrl=Request.Url.ToString()})">Đặt hàng</a>
    </div>
</div>

