@using Project_Nhom__.Models
@model List<Giohang>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">Thông tin giỏ hàng</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td>Mã Hoa</td>
        <td>Tên Hoa</td>
        <td>Ảnh Bìa</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
    </tr>
    @foreach(var item in Model)
            {
                <tr style="text-align:center; font-weight:bold">
                    <td>@item.iMahoa</td>
                    <td>@item.iTenhoa</td>
                    <td><img src="~/images_flo/@item.iAnhbia" /></td>
                    @using(Html.BeginForm("Capnhatgiohang","Giohang", new {@iMahoa=item.iMahoa}))
                    { 
                    <td><input type="number" min="1" name="txtSoluong" value="@item.iSoluong"</td>
                    <td>@String.Format("{0:0,0}", item.iDongia)</td>
                    <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
                    <td><a href="@Url.Action("Details","Store", new {id =item.iMahoa})">Chi tiết</a></td>
                    <td> @Html.ActionLink("Xóa","Delete", new {@iMahoa= item.iMahoa})</td>
                    <td> <input type="submit" value="Cập nhật"/></td>
                    }
                </tr>
    }
    <tr style="font-weight:bold; text-align:right; color:red;">
        <td colspan="4">Số lượng hoa: @ViewBag.Tongsoluong</td>
        <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VND</td>
    </tr>
</table>

